@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap");

body {
  background: linear-gradient(-180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Kumbh Sans, sans-serif;
}

.app {
  background-color: white !important;
  height: 500px;
  border-radius: 25px;
  margin-top: 130px;
  overflow: hidden;
}

.box-img {
  position: absolute;
  top: 365px;
  left: 116px;
}

@media screen and (min-width: 700px) {
  .app {
    background: url("./images/illustration-woman-online-desktop.svg") right 39vw
        bottom 8vh no-repeat,
      url("./images/bg-pattern-desktop.svg") left -41vw top -37vh no-repeat;
  }
  .mobile-back-img {
    display: none;
  }
  .mobile-woman-img {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .app {
    background: url("./images/bg-pattern-mobile.svg") no-repeat;
    background-position: right 26vw bottom 83vh;
  }
  .mobile-woman-img {
    position: absolute;
    right: 170px;
    bottom: 230px;
  }
  .box-img {
    display: none;
  }
  .app h1 {
    margin-left: 145px;
    margin-top: 100px;
  }
}
